%h1.title Isotope11 Client Application
.content
  - if current_user
    - if current_user.admin
      %table
        %tr
          %th Client company
          %th Client email
          %th Application state
          %th edit
          %th delete
        - @applications.each do |app|
          %tr
            %td= app.business_name
            %td= app.email
            %td= app.state
            %td= link_to 'Edit', edit_client_application_path(app)
            %td= link_to 'Delete', app, :method => :delete, :confirm => "Delete this application?"
    - else
      %p
      = 'state: '
      = current_user.client_application.state
      %p
      - if current_user.client_application.state == "submitted"
        %h3 Your application has been submitted!
        .submitted
          Isotope11 is currently reviewing your application, and will email when further information is required.
          %p
          = link_to 'Continue (temporary link)', edit_client_application_path(current_user.client_application), :class => "btn primary"
      - if current_user.client_application.state == "requested"
        %h3 We need more information!
        .requested
          Isotope11 has reviewed your application, and needs more information from you.
          %p
          = link_to 'Continue Application.', edit_client_application_path(current_user.client_application), :class => "btn success"
      - if current_user.client_application.state == "responded"
        %h3 You have responded to Isotope's request!
        .responded
          Isotope will now finish processing your application.
          %p
          Please be patient as this could take a few days. You will receive an email when complete.
          %p
          = link_to 'Continue (temporary link)', edit_client_application_path(current_user.client_application), :class => "btn primary"
      - if current_user.client_application.state == "completed"
        %h3 Your application is complete!
        .completed
          Isotope11 has received your completed application!
          %p
          We will contact you soon.
  - else
    %h3 Click below to start a new application:
    = link_to "New Application", new_client_application_path, :class => "btn info"

    .sign_in
      %h3 Sign in
      = form_tag user_session_path do
        = label_tag 'email'
        = text_field_tag 'user[email]'
        %p
        = label_tag 'password'
        = password_field_tag 'user[password]'
        %p
        = check_box_tag 'user[remember_me]'
        = 'Remember me'
        %p
        = button_to "Sign in", "#"
        = link_to "Forgot your password?", new_password_path('user')

:javascript
  $(document).ready(function(){
    $('.sign_in').hide();
    $('#session_options').click(function(){
      $(".sign_in").toggle();
    });
  });
