.form_wrapper
  = form_for(@client_application) do |f|
    - if @client_application.errors.any?
      #error_explanation
        %h2
          = pluralize(@client_application.errors.count, "error")
          prohibited this application from being saved:
        %ul
          - @client_application.errors.full_messages.each do |msg|
            %li= msg

    %fieldset.business_info
      %legend
        Business Information
      .clearfix
        = f.label 'Business Name*'
        .input= f.text_field :business_name 
      .clearfix
        = f.label 'Contact Name (First)*'
        .input= f.text_field :first_name 
      .clearfix
        = f.label 'Contact Name (Last)*'
        .input= f.text_field :last_name 
      .clearfix
        = f.label 'Email*'
        .input= f.text_field :email
      .clearfix
        = f.label 'Phone number*'
        .input= f.text_field :phone_number
      .clearfix
        = f.label 'Years in Business*'
        .input= f.text_field :years_in_business, :class => "text"
      .clearfix
        = f.label 'Number of Employees*'
        .input= f.text_field :number_of_employees, :class => "text"
      .clearfix
        = f.label 'DBA Name'
        .input= f.text_field :dba_name 
      .clearfix
        = f.label 'Parent Company'
        .input= f.text_field :parent_company
      .clearfix
        = f.label 'Taxpayer ID number'
        .input= f.text_field :taxpayer_id_number
      .clearfix
        = f.label 'Business Website'
        .input= f.text_field :business_website

    %fieldset.business_location
      %legend
        Business Location
      .clearfix
        = f.label 'Primary Business Address*'
        .input= f.text_field :business_address
      .clearfix
        = f.label 'Billing Address*'
        .input= f.text_field :billing_address
      .clearfix
        = f.label 'City*'
        .input= f.text_field :city
      .clearfix
        = f.label 'State*'
        .input= f.select(:state_id, options_from_collection_for_select(State.all, :id, :name))
      .clearfix
        = f.label 'Zip code*'
        .input= f.text_field :zip, :maxlength => 5, :class => "text"

    %fieldset.business_type
      %legend
        Preferred Contact Method
      .clearfix
        .input
          %ul.inputs-list
            %label
              = f.radio_button :contact_by_email, 1
              %span Email
            %label
              = f.radio_button :contact_by_email, 0
              %span Phone

    %fieldset.business_type
      %legend
        Business Type
      .clearfix
        .input
          %ul.inputs-list
            %label
              = f.radio_button :business_type, "private_corp", :class => "private_corp"
              %span Private Corporation
            %label
              = f.radio_button :business_type, "public_corp", :class => "public_corp"
              %span Public Corporation
            %label
              = f.radio_button :business_type, "partnership", :class => "no_field"
              %span Partnership
            %label
              = f.radio_button :business_type, "non_profit", :class => "no_field"
              %span Non-Profit
            %label
              = f.radio_button :business_type, "sole_proprietor", :class => "no_field"
              %span Sole Proprietor
            %label
              = f.radio_button :business_type, "other", :class => "other_corp"
              %span Other

      .clearfix.private_corp_type
        = f.label 'Private Corporation Type'
        .input= f.text_field :private_corp_type
      .clearfix.market_symbol
        = f.label 'Market Symbol'
        .input= f.text_field :market_symbol
      .clearfix.other_field
        = f.label 'Business Type:'
        .input= f.text_field :other_type

    %fieldset.business_type
      %legend
        Attachments:
      .clearfix
        = f.fields_for :attachments do |a|
          .input= a.file_field :document

    .actions
      = f.submit :class => 'btn primary'
      = link_to 'Back', client_applications_path, :class => 'btn'

:javascript
  $(document).ready(function(){

    $('.other_field').hide();
    $('.private_corp_type').hide();
    $('.market_symbol').hide();

    $('.other_corp').click(function(){
      if ($(this).attr("checked") == "checked") {
        $(".private_corp_type").hide();
        $(".market_symbol").hide();
        $(".other_field").fadeIn("slow");
      }
      else {
        $(".other_field").fadeOut("slow");
      }
    });

    $('.public_corp').click(function(){
      if ($(this).attr("checked") == "checked") {
        $(".other_field").hide();
        $(".private_corp_type").hide();
        $(".market_symbol").fadeIn("slow");
      }
      else {
        $(".market_symbol").fadeOut("slow");
      }
    });

    $('.private_corp').click(function(){
      if ($(this).attr("checked") == "checked") {
        $(".other_field").hide();
        $(".market_symbol").hide();
        $(".private_corp_type").fadeIn("slow");
      }
      else {
        $(".market_symbol").fadeOut("slow");
      }
    });

    $('.no_field').click(function(){
      $(".other_field").fadeOut("slow");
      $(".private_field_type").fadeOut("slow");
      $(".market_symbol").fadeOut("slow");
    });

  });
