- if @application.litigation_file_name == "1"
  %fieldset
    %legend
      Litigation?
    %span
      = 'No'
      = radio_button_tag 'litigation', "no", :checked => true
      = 'Yes'
      = radio_button_tag 'litigation', "yes"
    %span
    .litigation_fields
      .clearfix
        = f.label 'Please describe litigation'
        .input= f.text_area :litigation_description, :class => 'xxlarge'
      .clearfix
        = f.label 'Attachments'
        .input= f.file_field :litigation_file_name
