- if @client_application.litigation_information?
  %fieldset
    %legend
      Litigation Form
    %span
      %h5 Have you or your company been involved in any litigation in the past 5 years?
      = 'No'
      = radio_button_tag 'litigation', "no", :checked => true
      = 'Yes'
      = radio_button_tag 'litigation', "yes"
    .litigation_fields
      %h5 Please describe the nature of the litigation and upload any documents.
      .clearfix
        = f.text_area :litigation_description, :class => 'xxlarge'
