- if @application.principal_information?
  %fieldset
    %legend
      Principal Information Form
    = f.fields_for :principal_information_forms do |p|
      .personal_info
        %h5 Personal Information
        .clearfix
          = p.label 'Name'
          .input= p.text_field :name
        .clearfix
          = p.label 'Alternate Name'
          .input= p.text_field :alternate_name
        .clearfix
          = p.label 'Social Security Number'
          .input= p.text_field :ssn
        .clearfix
          = p.label 'Date of Birth'
          .input= p.text_field :dob
        .clearfix
          = p.label 'Drivers License Number'
          .input= p.text_field :dl_number
        .clearfix
          = p.label 'Drivers License State'
          .input= p.text_field :dl_state
      %p

      .employment_info
        %h5 Employment Status
        .clearfix
          = p.label 'Position'
          .input= p.text_field :position
        .clearfix
          = p.label 'Company'
          .input= p.text_field :company
        .clearfix
          = p.label 'Years with Company'
          .input= p.text_field :years_with_company
        .clearfix
          = p.label 'Previous Employer'
          .input= p.text_field :prev_employer
        .clearfix
          = p.label "Today's Date"
          .input= p.text_field :date
      %p

      .address_info
        %h5 Address Information
        %p
        .clearfix
          = p.label 'Street Address'
          .input= p.text_field :street_address
        .clearfix
          = p.label 'City'
          .input= p.text_field :city
        .clearfix
          = p.label 'State'
          .input= p.text_field :state
        .clearfix
          = p.label 'Zip Code'
          .input= p.text_field :zip
        .clearfix
          = p.label 'County'
          .input= p.text_field :county
        %p

        %h5 Have you lived at your current address for more than 3 years?
        %p
        %span
          = 'Yes'
          = radio_button_tag 'address', "yes", :checked => true
          = 'No'
          = radio_button_tag 'address', "no"
        .prev_address_fields
          %h5 Previous Address Information
          .clearfix
            = p.label 'Previous Street Address'
            .input= p.text_field :prev_street_address
          .clearfix
            = p.label 'Previous City'
            .input= p.text_field :prev_city
          .clearfix
            = p.label 'Previous State'
            .input= p.text_field :prev_state
          .clearfix
            = p.label 'Previous Zip'
            .input= p.text_field :prev_zip
          .clearfix
            = p.label 'Previous County'
            .input= p.text_field :prev_county
