%center
  %h2 Requested
  %h1 Please fill out the requested information and press submit:
  %h3 If you have any files to upload, please select them before submitting.

.form_container
  = form_for @application, :html => { :multipart => true } do |f|
    .field
      %p
        = f.label 'Articles of Incorporation'
        .form_field= f.file_field :articles_of_incorporation
      %p
        = f.label 'Proof of Insurance'
        .form_field= f.file_field :proof_of_insurance
      %p
        = f.label 'Business License'
        .form_field= f.file_field :parent_company
      %p
        = f.label 'Partnership Agreement'
        .form_field= f.file_field :partnership_agreement
      %p
        = f.label 'Limited Partnership'
        .form_field= f.file_field :limited_partnership
      %p
        = f.label 'Charter'
        .form_field= f.file_field :charter
      %p
        = f.label 'Association Resolution'
        .form_field= f.file_field :association_resolution
      %p
        = f.label 'IRS Tax Exempt Status form'
        .form_field= f.file_field :irs_tax_exempt_status_form
      %p
        = f.label 'Bank Statement'
        .form_field= f.file_field :bank_statement
      %p
        = f.label 'Tax Return year 1'
        .form_field= f.file_field :tax_return_one
      %p
        = f.label 'Tax Return year 2'
        .form_field= f.file_field :tax_return_two
      %p

    = f.submit "Submit"

