= render 'show_page', :client_application => @client_application

%center
  %h2
    = form_for(@client_application) do |f|
      %span
        = f.radio_button :returned, 1
        = 'Request Additional information'
      %p
      %span
        = f.radio_button :returned, 0
        = 'Mark Application as complete (send to Xrono)'
      %p
      = f.submit "Submit"
