%center
  %h1 Isotope11 - request information:
  %h2 Application Submitted

.form_wrapper
  = form_for(:client_application, :url => { :controller => 'client_applications', :action => 'add_attachments', :method => :post}, :html => { :multipart => true }) do |f|
    %fieldset
      %legend
        Request Documents
      %span
        = hidden_field_tag :application_id, @application.id
      %span
        = f.check_box :articles_of_incorporation, :class => "documents"
        = 'Articles of Incorporation'
      %p
      %span
        = f.check_box :proof_of_insurance, :class => "documents"
        = 'Proof of Insurance'
      %p
      %span
        = f.check_box :business_license, :class => "documents"
        = 'Business License'
      %p
      %span
        = f.check_box :partnership_agreement, :class => "documents"
        = 'Partnership Agreement'
      %p
      %span
        = f.check_box :limited_partnership, :class => "documents"
        = 'Limited Partnership LP1'
      %p
      %span
        = f.check_box :charter, :class => "documents"
        = 'Charter and By-Laws'
      %p
      %span
        = f.check_box :association_resolution, :class => "documents"
        = 'Association Resolution'
      %p
      %span
        = f.check_box :irs_tax_exemption_form, :class => "documents"
        = 'IRS Tax Exemption Status Form'
      %p
      %span
        = f.check_box :bank_statements, :class => "documents"
        = 'Bank Statement'
      %p
      %span
        = f.check_box :tax_returns, :class => "documents"
        = '2009 Tax Return'
      %p

    %fieldset
      %legend
        Request Forms
      %span
        = f.check_box :principal_information, :class => "documents"
        = 'Principal Information form'
      %p
      %span
        = f.check_box :banking_information, :class => "documents"
        = 'Banking Information form'
      %p
      %span
        = f.check_box :litigation_information, :class => "documents"
        = 'Litigation response'
      %p

    = f.submit "Submit", :class => "btn success"

