%center
  %h1 Isotope11 - request information:
  %h2 Application Submitted

.form_wrapper
  = form_for @application, :html => { :multipart => true } do |f|
    %fieldset
      %legend
        Request Documents
      %span
        = f.check_box :articles_of_incorporation_file_name, :class => "documents"
        = 'Articles of Incorporation'
      %p
      %span
        = f.check_box :proof_of_insurance_file_name, :class => "documents"
        = 'Proof of Insurance'
      %p
      %span
        = f.check_box :business_license_file_name, :class => "documents"
        = 'Business License'
      %p
      %span
        = f.check_box :partnership_agreement_file_name, :class => "documents"
        = 'Partnership Agreement'
      %p
      %span
        = f.check_box :limited_partnership_file_name, :class => "documents"
        = 'Limited Partnership LP1'
      %p
      %span
        = f.check_box :charter_file_name, :class => "documents"
        = 'Charter and By-Laws'
      %p
      %span
        = f.check_box :irs_tax_exempt_status_form_file_name, :class => "documents"
        = 'IRS Tax Exemption Status Form'
      %p
      %span
        = f.check_box :bank_statement_file_name, :class => "documents"
        = 'Bank Statement'
      %p
      %span
        = f.check_box :tax_return_one_file_name, :class => "documents"
        = '2009 Tax Return'
      %p
      %span
        = f.check_box :tax_return_two_file_name, :class => "documents"
        = '2010 Tax Return'
      %p

    %fieldset
      %legend
        Request Forms
      %span
        = f.check_box :principal_information, :class => "documents"
        = 'Principal Information form'
      %p
      %span
        = f.check_box :banking_information, :class => "documents"
        = 'Banking Information form'
      %p
      %span
        = f.check_box :litigation_file_name, :class => "documents"
        = 'Litigation response'
      %p

    = f.submit "Submit", :class => "btn success"

