<!DOCTYPE html>
<html>
  <head>
    <title>ClientApp</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main-wrap">
      <div class="header-internal">
        <div class="title-bar-internal">
        </div>
      </div>
      <div class="wrapper">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
        <%= yield %>
        <br class="clear">
      </div>
    </div>
  </body>
</html>
