<!DOCTYPE html>
<html>
  <head>
    <title>ClientApp</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "less" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main-wrap">
      <div class="header-internal">
        <div class="title-bar-internal">
        </div>
      </div>
      <div class="wrapper">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <br class="clear">
      </div>
    </div>
  </body>
</html>
